[mysqld]
########basic settings########
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
port	= 3306
datadir	= /var/lib/mysql
socket	= /var/lib/mysql/mysqld.sock
pid-file = /var/lib/mysql/mysqld.pid

#数据库隔离级别
#transaction_isolation = READ-COMMITTED

# 最大连接数，默认 ?
#max_connections = 200

# 对于同一主机，如果有超出该参数值个数的中断错误连接，则该主机将被禁止连接。如需对该主机进行解禁，执行：FLUSH HOST。
#max_connect_errors = 1000

#该值设置过小将导致单个记录超过限制后写入数据库失败，且后续记录写入也将失败
max_allowed_packet = 128M

#mysql在关闭一个交互的连接之前所要等待的秒数
#interactive_timeout = 1200

#mysql在关闭一个非交互的连接之前所要等待的秒数
#wait_timeout = 600

#MySQL读入缓冲区的大小
#read_buffer_size = 16M

#MySQL的随机读缓冲区大小
#read_rnd_buffer_size = 8M

#MySQL的顺序读缓冲区大小
#sort_buffer_size = 8M

# 不区分大小写
lower_case_table_names = 1

########log settings########

#日志目录，同一放在 /var/lib/mysql 下
log-error = /var/lib/mysql/error.log

#开启慢查询日志
slow_query_log = 1

#超出次设定值的SQL即被记录到慢查询日志
long_query_time = 6
slow_query_log_file = /var/lib/mysql/slow.log

#表示记录下没有使用索引的查询
log_queries_not_using_indexes = 1

#记录管理语句
#log_slow_admin_statements = 1

#开启复制从库复制的慢查询的日志
#log_slow_slave_statements = 1

#设置每分钟增长的没有使用索引查询的日志数量
#log_throttle_queries_not_using_indexes = 10
#binlog_expire_logs_seconds = 90
#min_examined_row_limit = 100

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
