.DS_Store

# Editor directories and files
.git
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.cache
*.log

vendor


gitea/docker-rootless/config
gitea/docker-rootless/data
gitea/docker-rootless/mysql


gitlab/docker/data
gitlab/docker/log
gitlab/docker/config
gitlab/docker/root_password.txt

