# 网站域名
APP_URL=http://localhost:3210

# DB 必须的环境变量
# 用于加密敏感信息的密钥，可以使用 openssl rand -base64 32 生成
KEY_VAULTS_SECRET=

# Postgres 数据库连接字符串
# 格式：postgres://username:password@host:port/dbname，如果你的 pg 实例为 Docker 容器，请使用容器名
DATABASE_URL=

# 身份验证（Better Auth）
# 会话加密密钥（使用以下命令生成：openssl rand -base64 32）
AUTH_SECRET=

# JWKS 密钥，用于签名和验证 JWT
JWKS_KEY=

# S3 相关
S3_ACCESS_KEY_ID=your_username
S3_SECRET_ACCESS_KEY=your_pass
S3_ENDPOINT=http://s3.local
S3_BUCKET=lobehub
# 强制使用 Path Style (对于自建 S3 兼容存储通常是必须的)
S3_ENABLE_PATH_STYLE=1

# Redis
REDIS_URL=redis://redis:6379/0
